.form {
    display: flex;
    border: none;
    margin-block-end: 0em !important;
  }
  
  .input {
    border: none;
    border-bottom-left-radius: 8px;
    padding: 3%;
    width: 80%;
    font-size: 0.8em;
    background: rgba(244, 180, 0, 0.5);
    font-family: 'ABeeZee', sans-serif;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: black !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(219, 68, 55, 0.5);
    display: inline-block;
    border: none;
    width: 20%;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 900;
    border-bottom-right-radius: 8px;
  }

 