 .infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 100%;
  }
  
  .leftInnerContainer {
    width: 35%;
    display: flex;
    align-items: center;
    margin-left: 4%;
    color: white;
  }
  

 .iconWrapper
 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-right: 3px;
     margin-top: -2px;
     width: 20px;
     height: auto;
 }

 .roomIcon
 {
   width: 100%;
   height: auto;
   color: white;
 }