 .infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(66, 133, 244, 0.5);;
    border-radius: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 100%;
  }
  
  .leftInnerContainer {
    width: 35%;
    display: flex;
    align-items: flex-start;
    margin-left: 4%;
    color: #ff776e;
  }
  
  .rightInnerContainer {
    width: 65%;
    display: flex;
    justify-content: flex-start;
  }
  

 .iconWrapper
 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-right: 4px;
 }