.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 0.8em;
    word-wrap: break-word;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 13px;
  }
  
  .sentText {
    text-align: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    font-size: 0.6em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 3px;
  }
  
  .pl-10 {
    padding-left: 7px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background:#f0f0f0;
    color: honeydew;
  }
  
  .backgroundLight {
    background: rgba(244, 180, 0, 0.25);;
  }

  .avatar-wrapper {
    background: #ffa099;
    border-radius: 200px;
    align-content: center;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .avatar-icon {
    color: honeydew;
  }

  .message-avatar {
    width: 100%;
    height: auto;
    border-radius: 200px;
  }
 

  